<script>
  import { faArrowLeft } from '@fortawesome/free-solid-svg-icons';
  import { TrainerButton, Fa } from 'inca-utils';
  import { state } from '../utils/stores';
</script>

<article class="relative m-auto h-full max-w-3xl py-8">
  <!-- HEADER -->
  <header class="flex justify-between pb-4">
    <!-- TITLE -->
    <h1>About</h1>

    <!-- BACK BUTTON -->
    <TrainerButton
      on:click={() => state.switchView('settings')}
      label="Back"
      longpressTime={0}
    >
      <Fa icon={faArrowLeft} />
    </TrainerButton>
  </header>
  <p>
    This app is made as a showcase for the <a
      target="_blank"
      href="https://shockerqt.gitlab.io/inca-utils/">inca-utils</a
    > library
  </p>

  <section>
    <h2>Source</h2>
    <p>
      View the source code of compareFast on <a
        target="_blank"
        href="https://gitlab.com/shockerqt/inca-comparefast">GitLab</a
      >
    </p>
  </section>
</article>

<style>
  article {
    padding: 0 2rem;
    max-width: 48rem;
    margin: auto;
  }

  article header {
    display: flex;
    justify-content: space-between;
  }
</style>
