<script context="module" lang="ts">
  type GameScreen = 'ready' | 'game' | 'judge';
  export type GameState = {
    level: number;
    subLevel: number;
    display: GameScreen;
    lastAnswer: boolean;
    lives: number;
    corrects: number;
    subLevelAnswers: boolean[];
    levelResult: 'retry' | 'leveldown' | 'levelup' | '';
  };
</script>

<script lang="ts">
  import {
    Fa,
    TrainerButton,
    ActionButton,
    type Mode,
    theme,
    speech,
  } from 'inca-utils';
  import TimeBar from '../components/gameComponents/TimeBar.svelte';
  import { faBars } from '@fortawesome/free-solid-svg-icons';
  import { campaign, config, logger, state } from '../utils/stores';
  import TextScreen from '../components/gameComponents/TextScreen.svelte';
  import TileSet from '../components/gameComponents/TileSet.svelte';
  import LevelResultDisplay from '../components/gameComponents/LevelResultDisplay.svelte';
  import LivesDisplay from '../components/gameComponents/LivesDisplay.svelte';
  import LevelAnswersDisplay from '../components/gameComponents/LevelAnswersDisplay.svelte';
  import MenuModal from '../components/gameComponents/MenuModal.svelte';

  export let mode: Mode;

  let answerTimeFrom: number;
  let showModal = false;

  let gameState: GameState = {
    level: $campaign[mode],
    subLevel: 1,
    display: 'ready',
    lastAnswer: false,
    lives: $config.difficulty.livesNumber,
    corrects: 0,
    subLevelAnswers: [],
    levelResult: '',
  };

  $: $campaign[mode] = gameState.level;

  const displayGameScreen = () => {
    gameState.display = 'game';
    gameState.levelResult = '';
    answerTimeFrom = Date.now();
  };

  const displayJudgeScreen = (
    answer: boolean,
    quantity: number,
    tiles?: { gridSize: number; dots: number[] }
  ) => {
    const answerTime = Date.now() - answerTimeFrom;
    if (gameState.level > 2)
      logger.log($config.profile.learnerName, {
        mode,
        backgroundColor: $theme.colors.gameBackground,
        foregroundColor: $theme.colors.gameForeground,
        tileBackgroundColor: $theme.colors.tileBackground,
        tileForegroundColor: $theme.colors.tileForeground,
        tileBorderColor: $theme.colors.tileBorder,
        gridSize: tiles.gridSize,
        quantities: tiles.dots,
        time: answerTime,
        answer: false,
        chosenQuantity: quantity,
        date: new Date().toJSON(),
      });
    if (answer) gameState.corrects++;
    gameState.lastAnswer = answer;

    const nextState = { ...gameState };
    if (gameState.subLevel === $config.difficulty.sublevelsNumber) {
      // If the sublevel is the last one
      nextState.subLevel = 1;
      nextState.corrects = 0;
      nextState.subLevelAnswers = [];
      if (gameState.corrects >= $config.difficulty.correctsToLevelUp) {
        // If passed the level
        nextState.level++;
        nextState.lives = $config.difficulty.livesNumber;
        nextState.levelResult = 'levelup';
      } else {
        // If failed the level
        if (gameState.lives > 1) {
          // If has more lives then retry
          nextState.lives--;
          nextState.level = gameState.level;
          nextState.levelResult = 'retry';
        } else {
          // If doesn't have more lives then level down
          nextState.level--;
          nextState.lives = $config.difficulty.livesNumber;
          nextState.levelResult = 'leveldown';
        }
      }
    } else {
      nextState.subLevel++;
    }

    gameState.subLevelAnswers.push(answer);

    // Go to next display after the judgeTime time
    if ($config.difficulty.judgeTime) {
      gameState.display = 'judge';
      setTimeout(() => {
        gameState = nextState;
        gameState.display = 'ready';
      }, $config.difficulty.judgeTime);
    } else {
      gameState = nextState;
      gameState.display = 'ready';
    }
  };

  $: foreground = () => {
    if (gameState.display === 'judge') {
      return gameState.lastAnswer ? $theme.colors.green : $theme.colors.red;
    }
    return $theme.colors.gameForeground;
  };
  // Speech
  $: gameState.display === 'ready' &&
    speech.play('levelNumber', {
      level: `${gameState.level} ${gameState.subLevel}`,
    });
  $: gameState.display === 'judge' &&
    gameState.lastAnswer &&
    speech.play('correct');
  $: gameState.display === 'judge' &&
    !gameState.lastAnswer &&
    speech.play('wrong');
</script>

<MenuModal bind:show={showModal} bind:gameState />

<div
  class="game-view"
  style:color={foreground()}
  style:background-color={$theme.colors.gameBackground}
>
  <!-- ACTION AND TRAINER BUTTONS -->
  <header>
    <!-- EXIT BUTTON -->
    <ActionButton mode="exit" on:click={() => state.switchView('menu')} />

    <!-- READY BUTTON -->
    {#if gameState.display === 'ready'}
      <div class="ready-button">
        <ActionButton mode="ready" on:click={displayGameScreen} />
      </div>
    {/if}

    <!-- TRAINER BUTTONS -->
    {#if $config.gameUI.displayTrainerButtons}
      <div class="trainer-buttons">
        <!-- TO LEVEL BUTTON -->
        <TrainerButton
          label="Menu"
          on:click={() => {
            showModal = true;
          }}
        >
          <Fa icon={faBars} />
        </TrainerButton>
      </div>
    {/if}
  </header>

  <!-- GAME, RESULTS, LEVEL NUMBER -->
  <main>
    <!-- TILESET -->
    {#if gameState.display === 'game'}
      <TileSet
        {mode}
        level={gameState.level}
        handleAnswer={displayJudgeScreen}
      />
    {/if}

    <!-- LEVEL NUMBER -->
    {#if gameState.display === 'ready'}
      <TextScreen>
        Level {gameState.level}-{gameState.subLevel}
      </TextScreen>
      {#if $config.gameUI.displayLevelResult}
        <LevelResultDisplay result={gameState.levelResult} />
      {/if}
    {/if}

    <!-- JUDGE SCREEN -->
    {#if gameState.display === 'judge'}
      <TextScreen>
        {gameState.lastAnswer ? 'Correct' : 'Wrong'}
      </TextScreen>
    {/if}

    <div />
  </main>

  <!-- TIMING BAR AND LIVES -->
  <footer>
    <!-- SHOW CURRENT LEVEL ANSWERS -->
    {#if $config.gameUI.displayLevelAnswers}
      <LevelAnswersDisplay
        subLevelAnswers={gameState.subLevelAnswers}
        maxSubLevels={$config.difficulty.sublevelsNumber}
      />
    {/if}

    <!-- LIVES -->
    {#if $config.gameUI.displayLives}
      <LivesDisplay
        lives={gameState.lives}
        maxLives={$config.difficulty.livesNumber}
      />
    {/if}

    <!-- TIME BAR -->
    {#if gameState.display === 'judge'}
      <TimeBar duration={$config.difficulty.judgeTime} color={foreground()} />
    {/if}
  </footer>
</div>

<style>
  .game-view {
    display: grid;
    grid-template-rows: auto 8fr 1fr;
    height: 100%;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
  }

  header > .ready-button {
    justify-self: center;
  }

  header > .trainer-buttons {
    grid-column-start: 3;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 2rem;
    padding: 1rem 2rem;
  }

  footer {
    display: grid;
    align-content: end;
    position: relative;
  }
</style>
