<script lang="ts">
  import { login } from '../utils/api';
  import { Fa, TrainerButton } from 'inca-utils';
  import { state } from '../utils/stores';
  import { faArrowLeft } from '@fortawesome/free-solid-svg-icons';

  let step = 'login';
  let username = '';
  let password = '';
  let instructorName = '';
  let learnerName = '';

  const submit = (event: SubmitEvent) => {
    if (step === 'login') {
      event.preventDefault();
      login(username, password);
    } else if (step === 'signup') {
      console.log(username, password);
    }
  };
</script>

<div class="relative h-full max-h-screen grid place-content-center">
  <div class="absolute top-3 left-2">
    <TrainerButton
      on:click={() => state.switchView('settings')}
      longpressTime={0}
    >
      <Fa icon={faArrowLeft} />
    </TrainerButton>
  </div>

  <!-- BACKGROUND -->
  <div class="fixed top-0 bottom-0 left-0 right-0 -z-10 bg-gray-200" />

  <!-- TITLE -->
  <div class="p-2">
    {#if step === 'login'}
      <h1 class="font-bold text-3xl text-center">Login to IncaLab</h1>
    {:else}
      <h1 class="font-bold text-3xl text-center">Register to IncaLab</h1>
    {/if}
  </div>

  <div class="px-8 py-4 w-96">
    <form on:submit={submit}>
      <div class="mb-2">
        <label class="font-medium" for="username">Username</label>
        <input
          class="rounded block border-gray-300 py-1 w-full"
          id="username"
          type="text"
          bind:value={username}
          required
        />
      </div>

      <div class="mb-2">
        <label class="font-medium" for="password">Password</label>
        <input
          class="rounded block border-gray-300 py-1 w-full"
          id="password"
          type="password"
          bind:value={password}
          required
        />
      </div>

      {#if step === 'login'}
        <div class="mb-2 text-sm font-semibold flex justify-between">
          <button
            class="text-blue-700"
            on:click={() => (step = 'signup')}
            type="button">Create account</button
          >
          <button
            class="mt-2 text-white rounded bg-blue-600 px-4 py-2"
            type="submit">Login</button
          >
        </div>
      {:else}
        <div class="mb-2 text-sm font-semibold flex justify-between">
          <button class="text-blue-700" on:click={() => (step = 'login')}
            >Already have an account</button
          >
          <button
            class="mt-2 text-white rounded bg-blue-600 px-4 py-2"
            type="submit">Sign Up</button
          >
        </div>
      {/if}
    </form>
  </div>
</div>
