<script lang="ts">
  import { config, state } from '../utils/stores.js';
  import { Tile, TrainerButton, Fa, fullscreen } from 'inca-utils';
  import { faExpand, faGear } from '@fortawesome/free-solid-svg-icons';
  import Logo from '../components/Logo.svelte';
</script>

<div class="main-menu">
  <!-- TOP BAR -->
  <header>
    <Logo />

    <!-- BUTTONS -->
    <div class="trainer-buttons">
      <!-- FULLSCREEN BUTTON -->
      <TrainerButton on:click={fullscreen} label="Fullscreen">
        <Fa icon={faExpand} />
      </TrainerButton>

      <!-- SETTINGS BUTTON -->
      <TrainerButton
        on:click={() => state.switchView('settings')}
        label="Settings"
      >
        <Fa icon={faGear} />
      </TrainerButton>
    </div>
  </header>

  <!-- MODE SELECTION -->
  <main>
    {#each $config.others.displayedModes as mode}
      <Tile
        {mode}
        on:click={() => state.switchView('campaign', { mode })}
        quantity={5}
        size={0.9}
      />
    {/each}
  </main>
</div>

<style>
  .main-menu {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 80%;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }

  header .trainer-buttons {
    display: flex;
    gap: 2rem;
  }

  main {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
</style>
