<script lang="ts">
  import { config, logger, state } from '../utils/stores';
  import { Fa, ThemePicker, TrainerButton } from 'inca-utils';
  import { faArrowLeft, faInfo } from '@fortawesome/free-solid-svg-icons';
  import SettingsFeaturesSection from '../components/SettingsFeaturesSection.svelte';
  import SettingsDisplayedModes from '../components/SettingsDisplayedModes.svelte';
  import { asyncLogsToCsvUrl, logsToJSONUrl } from '../utils/utils';
  import SettingsSpeechSection from '../components/SettingsSpeechSection.svelte';
</script>

<article class="settings">
  <!-- TOP BAR -->
  <header>
    <!-- TITLE -->
    <h1>Settings</h1>

    <div class="trainer-buttons">
      <!-- BACK BUTTON -->
      <TrainerButton
        on:click={() => state.switchView('menu')}
        longpressTime={0}
        label="Back"
      >
        <Fa icon={faArrowLeft} />
      </TrainerButton>

      <!-- ABOUT BUTTON -->
      <TrainerButton
        on:click={() => state.switchView('about')}
        longpressTime={0}
        label="About"
      >
        <Fa icon={faInfo} />
      </TrainerButton>
    </div>
  </header>

  <!-- USER API -->
  <!-- <div class="absolute mt-4 top-3 right-2 text-sm font-semibold items-center">
    {#if $state.loggedIn}
      <button
        class="mt-2 text-white rounded bg-blue-600 px-4 py-2"
        on:click={() => state.switchView('login')}>Sign in to IncaLab</button
      >
    {:else}
      <button
        class="mt-2 text-white rounded bg-red-600 px-4 py-2"
        on:click={logout}>Logout</button
      >
    {/if}
  </div> -->

  <!-- PROFILE SECTION -->
  <section>
    <h2>Profile</h2>

    <div>
      <label for="learnerName">Learner's name</label>
      <input
        class="basis-80"
        id="learnerName"
        type="text"
        bind:value={$config.profile.learnerName}
      />
    </div>

    <div>
      <label for="instructorName">Instructor's name</label>
      <input
        class="basis-80"
        id="instructorName"
        type="text"
        bind:value={$config.profile.instructorName}
      />
    </div>
  </section>

  <section>
    <h2>Logs</h2>
    <p>
      <a href={logsToJSONUrl($logger)} download="logs.json">Download as JSON</a>
      /
      {#await asyncLogsToCsvUrl($logger)}
        <div>Zipping CSV</div>
      {:then csv}
        <a href={csv} download="logs.zip">Download as CSV</a>
      {:catch error}
        <p>{error}</p>
      {/await}
    </p>
  </section>

  <!-- THEME SECTION -->
  <section>
    <h2>Theme</h2>

    <ThemePicker />
  </section>

  <!-- MAIN MENU MODES SECTION -->
  <section>
    <h2>Main Menu Displayed Modes</h2>

    <SettingsDisplayedModes />
  </section>

  <!-- FEATURES SECTION -->
  <SettingsFeaturesSection />

  <!-- SPEECH SECTION -->
  <section>
    <h2>Speech</h2>

    <SettingsSpeechSection />
  </section>
</article>

<style>
  .settings {
    padding: 0 2rem;
    width: 48rem;
    margin: auto;
  }

  :global(section) {
    margin: 2rem 0;
  }

  article header {
    display: flex;
    justify-content: space-between;
  }

  .trainer-buttons {
    display: flex;
    gap: 2rem;
  }
</style>
