<script lang="ts">
  import { Fa, theme } from 'inca-utils';
  import { faKiwiBird } from '@fortawesome/free-solid-svg-icons';
</script>

<div class="logo">
  <!-- BACKGROUND -->
  <h1 style:color={$theme.colors.onSurfaceVariant}>
    <Fa fill={$theme.colors.onSurfaceVariant} icon={faKiwiBird} />
    CompareFast
  </h1>
</div>

<style>
  h1 {
    margin: 0;
    padding-bottom: 1rem;
  }
</style>
