<script>
  import { fade, blur } from 'svelte/transition';

  export let show = false;
</script>

{#if show}
  <div class="modal-wrapper" in:fade>
    <div class="modal-content">
      <slot />
    </div>
  </div>
{/if}

<style>
  .modal-wrapper {
    display: grid;
    z-index: 10;
    place-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #aaaaaa10;
    backdrop-filter: blur(10px);
  }

  .modal-content {
    max-width: 90%;
    max-height: 90%;
  }
</style>
