<script>
  import { faPlay } from '@fortawesome/free-solid-svg-icons';
  import { Fa, speech } from 'inca-utils';
</script>

<fieldset class="speech-settings-fieldset">
  <div class="inca-form-inline">
    <label class="inca-label" for="speech-volume">Voice</label>
    <select class="inca-input" bind:value={$speech.config.voiceName} id="">
      {#each $speech.voices as voice}
        <option value={voice}>{voice}</option>
      {/each}
    </select>
  </div>

  <div class="inca-form-inline">
    <label class="inca-label" for="speech-volume">Volume</label>
    <input
      class="inca-input"
      bind:value={$speech.config.volume}
      min="0"
      max="1"
      step="0.01"
      type="range"
      id="speech-volume"
    />
    <p class="inca-label">{$speech.config.volume}</p>
  </div>

  <div class="inca-form-inline">
    <label class="inca-label" for="speech-pitch">Pitch</label>
    <input
      class="inca-input"
      bind:value={$speech.config.pitch}
      min="0"
      max="2"
      step="0.1"
      type="range"
      id="speech-pitch"
    />
    <p class="inca-label">{$speech.config.pitch}</p>
  </div>

  <div class="inca-form-inline">
    <label class="inca-label" for="speech-rate">Rate</label>
    <input
      class="inca-input"
      bind:value={$speech.config.rate}
      min="0.1"
      max="2"
      step="0.1"
      type="range"
      id="speech-rate"
    />
    <p class="inca-label">{$speech.config.rate}</p>
  </div>
</fieldset>

<fieldset class="texts-fieldset">
  <!-- READY -->
  <label for="ready-speech-input">Ready Speech</label>
  <div class="speech-input">
    <input
      bind:value={$speech.speeches.ready}
      type="text"
      id="ready-speech-input"
      placeholder="Text to speech"
    />
    <button on:click={() => speech.play('ready')}>
      <Fa icon={faPlay} />
    </button>
  </div>

  <!-- LEVEL X -->
  <label for="level-number-speech-input"
    >Level Number Speech. Params: &#123;level&#125;</label
  >
  <div class="speech-input">
    <input
      bind:value={$speech.speeches.levelNumber}
      type="text"
      id="level-number-speech-input"
      placeholder="Text to speech"
    />
    <button on:click={() => speech.play('levelNumber', { level: '9' })}>
      <Fa icon={faPlay} />
    </button>
  </div>

  <!-- CORRECT -->
  <label for="correct-speech-input">Correct Speech</label>
  <div class="speech-input">
    <input
      bind:value={$speech.speeches.correct}
      type="text"
      id="correct-speech-input"
      placeholder="Text to speech"
    />
    <button on:click={() => speech.play('correct')}>
      <Fa icon={faPlay} />
    </button>
  </div>

  <!-- WRONG -->
  <label for="wrong-speech-input">Wrong Speech</label>
  <div class="speech-input">
    <input
      bind:value={$speech.speeches.wrong}
      type="text"
      id="wrong-speech-input"
      placeholder="Text to speech"
    />
    <button on:click={() => speech.play('wrong')}>
      <Fa icon={faPlay} />
    </button>
  </div>
</fieldset>

<style>
  .speech-input {
    display: flex;
    gap: 0.5rem;
  }

  .inca-form-inline {
    display: grid;
    grid-template-columns: 4rem 1fr 3rem;
  }

  select {
    grid-column: 2 / span 2;
  }

  .speech-input button {
    border-radius: 0.6rem;
    padding: 0.8rem 2em;
    background-color: var(--inca-primary-container);
    color: var(--inca-on-primary-container);
  }

  fieldset.speech-settings-fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 4rem;
  }

  fieldset.texts-fieldset label {
    margin-top: 1.2rem;
  }

  .speech-input input {
    width: 70%;
  }
</style>
