<script lang="ts">
  import { config } from '../utils/stores';

  const modes = ['dice', 'rect', 'disc', 'stack', 'heap', 'grid', 'donut'];
</script>

<div class="display-modes-grid">
  {#each modes as mode}
    <div class="inca-form-inline">
      <input
        id="display-{mode}"
        name={mode}
        type="checkbox"
        value={mode}
        bind:group={$config.others.displayedModes}
        disabled={($config.others.displayedModes.length > 3 &&
          !$config.others.displayedModes.includes(mode)) ||
          ($config.others.displayedModes.length < 2 &&
            $config.others.displayedModes.includes(mode))}
      />
      <label for="display-{mode}">{mode}</label>
    </div>
  {/each}
</div>

<style>
  .display-modes-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
</style>
