<script lang="ts">
  import { NumberInput } from 'inca-utils';
  import { config } from '../utils/stores';
</script>

<section>
  <h2>Game Difficulty</h2>
  <!-- SUBLEVELS NUMBER -->
  <div class="inca-form-inline">
    <NumberInput
      bind:value={$config.difficulty.sublevelsNumber}
      min={1}
      max={5}
      id="subLevelsNumberInput"
    />
    <label for="subLevelsNumberInput">
      Number of sublevels on each level
    </label>
  </div>

  <!-- CORRECT ANSWERS TO LEVEL UP -->
  <div class="inca-form-inline">
    <NumberInput
      bind:value={$config.difficulty.correctsToLevelUp}
      min={1}
      max={$config.difficulty.sublevelsNumber}
      id="correctsToLevelUpInput"
    />
    <label for="correctsToLevelUpInput">
      Number of corrects answers to pass a level
    </label>
  </div>

  <!-- LIVES NUMBER -->
  <div class="inca-form-inline">
    <NumberInput
      bind:value={$config.difficulty.livesNumber}
      min={1}
      max={5}
      id="livesNumberInput"
    />
    <label for="livesNumberInput">
      Lives: number of retrys on a level before going back one level
    </label>
  </div>

  <!-- LIVES NUMBER -->
  <div class="inca-form-inline">
    <NumberInput
      bind:value={$config.difficulty.judgeTime}
      min={0}
      max={10000}
      step={100}
      id="judgeTimeInput"
    />
    <label for="judgeTimeInput">
      Judge screen duration in ms, set 0 to disable
    </label>
  </div>
</section>

<section>
  <h2>Game UI</h2>
  <!-- JUDGE TIME -->
  <div class="inca-form-inline">
    <input
      id="displayLivesInputCheckbox"
      type="checkbox"
      bind:checked={$config.gameUI.displayLives}
    />
    <label for="displayLivesInputCheckbox"> Display lives counter </label>
  </div>
  <div class="inca-form-inline">
    <input
      id="displayLevelAnswersCheckbox"
      type="checkbox"
      bind:checked={$config.gameUI.displayLevelAnswers}
    />
    <label for="displayLevelAnswersCheckbox">
      Display a tracker with the answers of each sublevel on the current level
    </label>
  </div>
  <div class="inca-form-inline">
    <input
      id="displayLevelResultCheckbox"
      type="checkbox"
      bind:checked={$config.gameUI.displayLevelResult}
    />
    <label for="displayLevelResultCheckbox">
      Display level results (level down, retry or level up)
    </label>
  </div>
  <div class="inca-form-inline">
    <input
      id="displayTrainerButtonsCheckbox"
      type="checkbox"
      bind:checked={$config.gameUI.displayTrainerButtons}
    />
    <label for="displayTrainerButtonsCheckbox"> Display trainer buttons </label>
  </div>
</section>
