<script lang="ts">
  import { state } from './utils/stores.js';
  import MainMenu from './views/MainMenu.svelte';
  import About from './views/About.svelte';
  import Settings from './views/Settings.svelte';
  import Login from './views/Login.svelte';
  import { speech } from 'inca-utils';
  import Game from './views/Game.svelte';

  // Initial Config
  $speech.speeches.ready ??= 'Ready?';
  $speech.speeches.levelNumber ??= 'Level {level}';
  $speech.speeches.correct ??= 'Correct';
  $speech.speeches.wrong ??= 'Wrong';
</script>

<div class="app">
  {#if $state.view === 'menu'}
    <MainMenu />
  {:else if $state.view === 'campaign'}
    <!-- <Campaign /> -->
    <Game mode={$state.params.mode} />
  {:else if $state.view === 'settings'}
    <Settings />
  {:else if $state.view === 'about'}
    <About />
  {:else if $state.view === 'login'}
    <Login />
  {/if}
</div>

<style>
  .app {
    background-color: var(--inca-background);
    color: var(--inca-on-background);
    width: 100%;
    height: 100%;
    max-height: 80vw;
    overflow: auto;
  }
</style>
