<script>
  import {
    faCircleCheck,
    faCircleXmark,
    faCircle,
  } from '@fortawesome/free-solid-svg-icons';
  import { Fa, theme } from 'inca-utils';

  export let subLevelAnswers;
  export let maxSubLevels;
</script>

<!-- SUBLEVELS ANSWERS -->
<div class="sublevel-answers">
  {#each subLevelAnswers as ok}
    <Fa
      fill={ok ? $theme.colors.green : $theme.colors.red}
      icon={ok ? faCircleCheck : faCircleXmark}
    />
  {/each}
  {#each Array.from({ length: maxSubLevels - subLevelAnswers.length }) as _}
    <Fa fill={$theme.colors.surfaceVariant} icon={faCircle} />
  {/each}
</div>

<style>
  .sublevel-answers {
    display: flex;
    position: absolute;
    gap: 1rem;
    bottom: 2.5rem;
    left: 2rem;
    font-size: 2rem;
  }
</style>
