<!--
 @component
Display a message showing the difficulty change
-->
<script lang="ts">
  import {
    faCircleChevronUp,
    faCircleChevronDown,
    faCircleMinus,
  } from '@fortawesome/free-solid-svg-icons';
  import { Fa, theme } from 'inca-utils';

  export let result = '';
</script>

{#if result === 'levelup'}
  <span class="level-result">
    <Fa icon={faCircleChevronUp} fill={$theme.colors.green} />
    Level Up
    <Fa icon={faCircleChevronUp} fill={$theme.colors.green} />
  </span>
{:else if result === 'leveldown'}
  <span class="level-result">
    <Fa icon={faCircleChevronDown} fill={$theme.colors.red} />
    Level Down
    <Fa icon={faCircleChevronDown} fill={$theme.colors.red} />
  </span>
{:else if result === 'retry'}
  <span class="level-result">
    <Fa icon={faCircleMinus} fill={$theme.colors.yellow} />
    Retry Level
    <Fa icon={faCircleMinus} fill={$theme.colors.yellow} />
  </span>
{/if}

<style>
  .level-result {
    display: block;
    text-align: center;
    font-size: 1.5em;
  }
</style>
