<script lang="ts">
  import { faHeart } from '@fortawesome/free-solid-svg-icons';
  import { theme, Fa } from 'inca-utils';

  export let lives: number;
  export let maxLives: number;

  $: getLivesArray = () => {
    const livesArray = [];
    for (let i = 0; i < maxLives; i++) livesArray.push(lives >= i + 1);
    return livesArray;
  };
</script>

<div class="lives">
  {#each getLivesArray() as turnedOn}
    <Fa
      fill={turnedOn ? $theme.colors.red : $theme.colors.surfaceVariant}
      icon={faHeart}
    />
  {/each}
</div>

<style>
  .lives {
    display: flex;
    position: absolute;
    gap: 1rem;
    bottom: 2.5rem;
    right: 2rem;
    font-size: 2rem;
  }
</style>
