<script lang="ts">
  import { faXmark } from '@fortawesome/free-solid-svg-icons';

  import Modal from '../Modal.svelte';
  import { Fa, NumberInput } from 'inca-utils';
  import type { GameState } from '../../views/Game.svelte';
  import { config } from '../../utils/stores';

  export let gameState: GameState;
  export let show: boolean;
</script>

<!-- MENU MODAL -->
<Modal {show}>
  <div class="modal">
    <div class="modal-header">
      <h4>Menu</h4>
      <button
        on:click={() => {
          show = false;
        }}
      >
        <Fa icon={faXmark} size={2} />
      </button>
    </div>

    <div class="modal-content">
      <div class="form-inline">
        <label for="">Set level</label>
        <NumberInput
          on:change={() =>
            (gameState = {
              ...gameState,
              subLevel: 1,
              display: 'ready',
              lives: $config.difficulty.livesNumber,
              corrects: 0,
              subLevelAnswers: [],
              levelResult: '',
            })}
          bind:value={gameState.level}
          min={1}
          max={50}
        />
      </div>
    </div>
  </div>
</Modal>

<style>
  .modal {
    background-color: var(--inca-background);
    padding: 1rem;
    border-radius: 1rem;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-content {
    padding: 1rem;
  }
</style>
