<script lang="ts">
  import { theme } from 'inca-utils';

  export let foreground = '';
</script>

<div class="text-screen place-items-center h-3/4">
  <h1
    class="font-extrabold text-8xl"
    style:color={foreground || $theme.colors.gameForeground}
  >
    <slot />
  </h1>
</div>

<style>
  .text-screen {
    display: grid;
    place-items: center;
    height: 70%;
  }

  .text-screen h1 {
    font-weight: 900;
  }
</style>
