<script lang="ts">
  import { Tile, type Mode } from 'inca-utils';
  import {
    getNDifferentRandomInts,
    getRandomInt,
    shuffleArray,
  } from '../../utils/utils';

  export let handleAnswer: (
    answer: boolean,
    quantity: number,
    tiles?: { gridSize: number; dots: number[] }
  ) => void;
  export let mode: Mode;
  export let level: number;
  export let gridSize = 3;

  const getQuantitiesFromDistance = (distance: number, tiles = 2, min = 0) => {
    const max = gridSize ** 2;
    const lows = getNDifferentRandomInts(min, max - distance, tiles - 1);

    // const low = getRandomInt(0, max - distance);
    // const high = getRandomInt(low + distance, max);
    const high = getRandomInt(Math.max(...lows) + distance, max);
    // console.log(high - low);
    return [
      ...lows.map(n => ({ quantity: n, highest: false })),
      { quantity: high, highest: true },
    ];
  };

  type TilesMap = {
    quantity: number;
    ignore?: boolean;
    ok?: boolean;
  }[];

  const tilesFromDifficultyLevel = () => {
    let tiles: TilesMap = [];

    // Tutorial levels
    if (level === 1) handleAnswer(true, -1); // touch ready level
    if (level === 2) return [{ quantity: getRandomInt(1, 9), ok: true }];
    if (level === 3)
      tiles = [
        { quantity: 0, ignore: true },
        { quantity: 9, ok: true },
      ];
    if (level === 4) tiles = [{ quantity: 0 }, { quantity: 9, ok: true }];

    // 5 TO 12 :: 2 TILES / distance from 8 to 1
    if (5 <= level && level <= 12) {
      const i = level - 4; // i from 1 to 8
      const distance = gridSize ** 2 - i; // distance <- 8 to 1
      tiles = getQuantitiesFromDistance(distance).map(
        ({ quantity, highest }) => ({
          quantity,
          ok: highest,
        })
      );
    }

    // 13 TO 20 :: 3 TILES / 1 EMPTY / distance <- 8 to 1
    if (13 <= level && level <= 20) {
      const i = level - 12; // i from 1 to 8
      const distance = gridSize ** 2 - i; // distance from 8 to 1
      tiles = getQuantitiesFromDistance(distance, 2, 1).map(
        ({ quantity, highest }) => ({
          quantity,
          ok: highest,
        })
      );
      tiles.push({ quantity: 0, ok: false });
    }

    // 21 TO 28 :: 3 TILES / distance <- 8 to 1
    if (21 <= level && level <= 28) {
      const i = level - 20; // i from 1 to 8
      const distance = gridSize ** 2 - i; // distance from 8 to 1
      tiles = getQuantitiesFromDistance(distance, 3).map(
        ({ quantity, highest }) => ({
          quantity,
          ok: highest,
        })
      );
    }

    // 29 TO 35 :: 4 TILES / 1 EMPTY / distance <- 8 to 2
    if (29 <= level && level <= 35) {
      const i = level - 27; // i from 2 to 8
      const distance = gridSize ** 2 - i; // distance from 8 to 2
      tiles = getQuantitiesFromDistance(distance, 3, 1).map(
        ({ quantity, highest }) => ({
          quantity,
          ok: highest,
        })
      );
      tiles.push({ quantity: 0, ok: false });
    }

    // 36 TO 42 :: 4 TILES / distance <- 8 to 2
    if (36 <= level && level <= 42) {
      const i = level - 34; // i from 2 to 8
      const distance = gridSize ** 2 - i; // distance from 8 to 2
      tiles = getQuantitiesFromDistance(distance, 4).map(
        ({ quantity, highest }) => ({
          quantity,
          ok: highest,
        })
      );
    }

    return shuffleArray(tiles) as TilesMap;
  };

  const tiles = tilesFromDifficultyLevel();
</script>

<div class="tileset">
  {#each tiles as tile}
    <Tile
      {mode}
      {gridSize}
      size={0.9}
      on:click={() => {
        if (!tile.ignore)
          handleAnswer(!!tile.ok, tile.quantity, {
            gridSize,
            dots: tiles.map(tile => tile.quantity),
          });
      }}
      quantity={tile.quantity}
    />
  {/each}
</div>

<style>
  .tileset {
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: space-around;
  }
</style>
