<script lang="ts">
  import { fade } from 'svelte/transition';

  export let duration = 1000;
  export let color = 'black';

  const transition = (_: Element) => {
    return {
      duration,
      css: (t: number) => `
        transform: translateX(-${t * 100}%);
      `,
    };
  };
</script>

<div class="timebar" style:background-color={color} in:transition on:introend />

<style>
  .timebar {
    width: 100%;
    height: 1rem;
  }
</style>
